* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background 0.3s, color 0.3s;
}

.payment-container {
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 420px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

h1 {
  margin-bottom: 5px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

.summary {
  display: flex;
  justify-content: space-between;
  background: #f1f3f5;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.row {
  display: flex;
  gap: 10px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
}

.secure {
  text-align: center;
  margin-top: 15px;
  color: #666;
  font-size: 13px;
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
.theme-toggle {
  position: fixed;
  top: 35px;
  right: 20px;
  font-size: 14px;
}

.theme-toggle{
    color: rgb(107, 86, 28);
    z-index: 4;
}

.return{
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 18px;
}
.return a{
    text-decoration: none;
    color: rgb(118, 118, 118);
}
.return a:hover{
    color: rgb(144, 139, 40);
}

/* ---------- DARK MODE ---------- */
body.dark {
  background: #121212;
  color: #eaeaea;
}

body.dark .payment-container {
  background: #1e1e1e;
  box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

body.dark .summary {
  background: #2a2a2a;
}

body.dark input {
  background: #2b2b2b;
  border-color: #444;
  color: #fff;
}

body.dark input::placeholder {
  color: #aaa;
}

body.dark button {
  background: #0d6efd;
}

body.dark .popup-content {
  background: #1e1e1e;
  color: #fff;
}
